# @(#)Antlr.cfg	0.1.1	08/14/2015
#
# Copyright (c) Penguin Random House, LLC
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.1
# @version      0.1.1
# @updated      $LastChangedDate: 2015-08-14 09:17:29 -0400 (Fri, 14 Aug 2015) $
# @revision     $LastChangedRevision: 2913 $

antlr_lib=${HOME}/NetBeans-Libraries/antlr-4.5.1-complete.jar
