# @(#)Clojure.cfg	0.1.0	07/13/2015
#
# Copyright (c) Penguin Random House, LLC
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2015-07-13 12:54:41 -0400 (Mon, 13 Jul 2015) $
# @revision     $LastChangedRevision: 2617 $

clojure_home=/usr/local/clojure-1.7.0
clojure_jar=clojure-1.7.0.jar
