# @(#)Colors.cfg	0.1.0	07/08/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2014-07-09 11:06:57 -0400 (Wed, 09 Jul 2014) $
# @revision     $LastChangedRevision: 1453 $
#
# These constants have been certified for the following UNIX systems and function using echo -e and the bash shell:
#   Mac OS X 10.6.8
#   Mac OS X 10.9.4
#   SunOS 5.9
#   SunOS 5.10
#   CentOS 5.6
#
# Example: echo -e "${color_green}Some green text...${color_off}"

color_black='\x1B[0;30m'
color_brown='\x1B[0;33m'
color_blue='\x1B[0;34m'
color_blue_light='\x1B[1;34m'
color_cyan='\x1B[0;36m'
color_cyan_light='\x1B[1;36m'
color_gray_dark='\x1B[1;30m'
color_gray_light='\x1B[0;37m'
color_green='\x1B[0;32m'
color_green_light='\x1B[1;32m'
color_orange='\x1B[0;33m'
color_purple='\x1B[0;35m'
color_purple_light='\x1B[1;35m'
color_red='\x1B[0;31m'
color_red_light='\x1B[1;31m'
color_white='\x1B[1;37m'
color_yellow='\x1B[1;33m'

color_off='\x1B[0m'	# No Color
