# @(#)convert-penguin-mp3s.cfg   0.1.1   06/27/2014
# @(#)convert-penguin-mp3s.cfg   0.1.0   06/25/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.1
# @updated      $LastChangedDate: 2014-06-27 11:34:10 -0400 (Fri, 27 Jun 2014) $
# @revision     $LastChangedRevision: 1439 $

convert_perl_home=${HOME}/Scripts
mp3_directory=/usr/local/penguin/source-mp3s
wav_directory=/usr/local/penguin/target-wavs
