# @(#)Gitlab.cfg	0.1.0	01/15/2018
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2018-01-15 09:21:02 -0500 (Mon, 15 Jan 2018) $
# @revision     $LastChangedRevision: 8696 $

gitlab_root=${HOME}/PRH-Gitlab
