# @(#)Glassfish.cfg   0.1.0   06/26/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2016-02-04 14:46:48 -0500 (Thu, 04 Feb 2016) $
# @revision     $LastChangedRevision: 3657 $

glassfish_domain=domain1
glassfish_home=/Applications/NetBeans/glassfish-4.1.1
glassfish_pass=${HOME}/.glassfishadminpass
glassfish_pattern=glassfish
glassfish_user=admin
