# @(#)Glassfish.cfg   0.3.1   05/25/2026
# @(#)Glassfish.cfg   0.1.0   06/26/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.3.1
# @version      0.1.0

glassfish_domain=domain1
glassfish_home=/usr/local/glassfish8
glassfish_pass=${HOME}/.glassfishadminpass
glassfish_pattern=glassfish
glassfish_user=admin
