# @(#)mp3-wav-sunos.cfg   0.1.3   09/01/2015
# @(#)mp3-wav-sunos.cfg   0.1.0   06/27/2014
#
# MIT License
#
# Copyright (c) 2026 Jonathan M. Parker
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.3
# @updated      $LastChangedDate: 2015-09-03 10:45:07 -0400 (Thu, 03 Sep 2015) $
# @revision     $LastChangedRevision: 2995 $

ffmpeg_home=/usr/local/bin
ffmpeg_stats=false

file_flags=

mp3_file_extension=mp3
mp3_sampling_rate=44100
mp3_audio_channels=1
mp3_bit_rate=128k
mp3_mime_type=MPEG-1

wav_file_extension=wav
wav_sampling_rate=44100
wav_audio_channels=2
wav_bit_rate=128k
wav_mime_type=audio

volume_adjust=0dB
