# @(#)mp3-wav-linux.cfg   0.1.3   09/01/2015
# @(#)mp3-wav-linux.cfg   0.1.0   06/27/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.3
# @updated      $LastChangedDate: 2015-09-03 10:45:07 -0400 (Thu, 03 Sep 2015) $
# @revision     $LastChangedRevision: 2995 $

ffmpeg_home=/usr/local/bin
ffmpeg_stats=false

file_flags=--mime-type

mp3_file_extension=mp3
mp3_sampling_rate=44100
mp3_audio_channels=1
mp3_bit_rate=128k
mp3_mime_type=audio/mpeg

wav_file_extension=wav
wav_sampling_rate=44100
wav_audio_channels=2
wav_bit_rate=128k
wav_mime_type=audio/x-wav

volume_adjust=0dB
