# @(#)Nexus.cfg	0.1.7	01/18/2017
# @(#)Nexus.cfg	0.1.6	12/22/2016
# @(#)Nexus.cfg	0.1.5	11/17/2016
# @(#)Nexus.cfg	0.1.4	04/21/2016
# @(#)Nexus.cfg	0.1.3	02/04/2016
# @(#)Nexus.cfg	0.1.2	10/27/2015
# @(#)Nexus.cfg	0.1.1	07/30/2015
# @(#)Nexus.cfg	0.1.0	03/18/2015
#
# MIT License
#
# Copyright (c) 2026 Jonathan M. Parker
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.7
# @updated      $LastChangedDate: 2017-08-14 11:00:06 -0400 (Mon, 14 Aug 2017) $
# @revision     $LastChangedRevision: 8027 $

nexus_home=/usr/local/nexus
nexus_pattern=nexus.pid
