# @(#)Nexus.cfg	0.1.7	01/18/2017
# @(#)Nexus.cfg	0.1.6	12/22/2016
# @(#)Nexus.cfg	0.1.5	11/17/2016
# @(#)Nexus.cfg	0.1.4	04/21/2016
# @(#)Nexus.cfg	0.1.3	02/04/2016
# @(#)Nexus.cfg	0.1.2	10/27/2015
# @(#)Nexus.cfg	0.1.1	07/30/2015
# @(#)Nexus.cfg	0.1.0	03/18/2015
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.7
# @updated      $LastChangedDate: 2017-08-14 11:00:06 -0400 (Mon, 14 Aug 2017) $
# @revision     $LastChangedRevision: 8027 $

nexus_home=/usr/local/nexus
nexus_pattern=nexus.pid
