# @(#)run_penny.cfg	0.1.0	08/10/2014
#
# Copyright (c) Penguin Random House, LLC
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2015-08-10 11:49:24 -0400 (Mon, 10 Aug 2015) $
# @revision     $LastChangedRevision: 2889 $

DOCUMENTUM_PASSWORD=G00dbyeBlueSky
