# @(#)Stickies.cfg   0.1.0   06/26/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2014-06-26 10:28:33 -0400 (Thu, 26 Jun 2014) $
# @revision     $LastChangedRevision: 1433 $

local_database=${HOME}/Library/StickiesDatabase
cloud_database=${HOME}/Dropbox/StickiesDatabase
