# @(#)Sync.cfg   0.2.9   03/24/2025
# @(#)Sync.cfg   0.2.8   06/15/2024
# @(#)Sync.cfg   0.1.4   07/26/2020
# @(#)Sync.cfg   0.1.3   07/31/2015
# @(#)Sync.cfg   0.1.2   04/14/2015
# @(#)Sync.cfg   0.1.1   02/24/2015
# @(#)Sync.cfg   0.1.0   07/07/2014
#
# MIT License
#
# Copyright (c) 2026 Jonathan M. Parker
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.2.9
# @updated      $LastChangedDate: 2025-03-24 11:16:40 -0400 (Mon, 24 Mar 2025) $
# @revision     $LastChangedRevision: 14290 $

sl_mount=/Volumes/jparker
ml_mount=/Volumes/users/jparker
mv_mount=/Volumes/users/jparker
yo_mount=/Volumes/jparker
sl_ver=10.8.0
ml_ver=12.5.0
mv_ver=13.3.0
yo_ver=14.3.0

baltimore_ago_root=Web-Sites/Baltimore-AGO
baltimore_ago_mamp=/Applications/MAMP/htdocs/baltimoreago
external_bkup_mount_mbp="/Volumes/MBP_Backup"
external_bkup_mount_mini="/Volumes/MM_Backup"
external_bkup_mount_studio="/Volumes/MS_Backup"
external_bkup_dir_mbp=Jonathan
external_bkup_dir_mini=maestro
external_bkup_dir_studio=jonathan
idea=IDEA
netbeans=NetBeans
macpro=WMMIT031143
