# @(#)TomEE.cfg   0.1.0   08/16/2014
#
# Copyright (c) Random House, Inc.
# 400 Hahn Road
# Westminster, MD 21157 U.S.A.
# All Rights Reserved.
#
# @author       Jonathan Parker
# @since        0.1.0
# @version      0.1.0
# @updated      $LastChangedDate: 2014-08-16 16:11:48 -0400 (Sat, 16 Aug 2014) $
# @revision     $LastChangedRevision: 1589 $

tomee_home=/usr/local/apache-tomee-plus-1.7.0
tomee_pattern=tomee
